.books {
  animation-name: hide;
  animation-duration: @emersion-duration;
  animation-fill-mode: forwards;  
  animation-delay: @books-hide-delay;
}

.books__title {
  font-weight: bold;
  margin: 0;
  font-size: 23.56px;
  line-height: 25.7px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: -0.025em;
}