.img-container {
  outline: 1px solid blue;
  width: 100%;
}

.img-container__img {
  display: block;
  position: relative;
}

.img-container__img--3 {
  z-index: 3;
  left: 60px;
  top: 50px;
}

.img-container__img--2 {
  left: 20px;
  top: 30px;
  z-index: 2;
}

