.img-container {
  width: 100%;
  height: 266px;
  position: relative;
}

.img-container__img {
  display: block;
  position: absolute;
}

.img-container__img--3 {
  z-index: 3;
  top: 30px;
  left: 80px;
  animation-name: book-3-animation;
  animation-duration: @book-duration;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: @emersion-duration;
}

.img-container__img--2 {
  left: 40px;
  bottom: 105px;
  z-index: 2;
  animation-name: book-2-animation;
  animation-duration: @book-duration;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: @emersion-duration;
}

.img-container__img--1 {
  bottom: 23px;
  left: 20px;
}